---
import BaseLayout from "../../layouts/Base.astro"
import { Image } from 'astro:assets'
import { works } from "../../datas/works"
export const getStaticPaths = () => {
  return works.map((_work, index) => {
    return {
      params: {
        work: index,
      }
    }
  })
}
const work = works[parseInt(Astro.params.work!)]
---
<BaseLayout>
  <div class="ml-2 my-2">
    <a href="/my-portfolio/" class="link">← Back</a>
  </div>
  <div class="mx-5">
    <div class="">
    </div>
    <div class="text-2xl">
      <span class="text-slate-400">Title: </span>
      <span>{ work.title }</span>
    </div>
    <div class="">
      <span class="text-slate-400 text-2xl">Description: </span>
      <span>{ work.desc }</span>
    </div>
    <div class="">
      <span class="text-slate-400 text-2xl">Link: </span>
      <a href={ work.url } class="link">{ work.url }</a>
    </div>
    <div class="">
      <span class="text-slate-400 text-2xl">Source: </span>
      <a href={ work.source } class="link">{ work.source }</a>
    </div>
    <div>
      <div class="text-slate-400 text-2xl">Images:</div>
      <div class="flex flex-wrap gap-4 my-3 mx-2">
        {
          work.images.map(image => {
            return <div>
              <a href={image}>
                <Image src={image} alt="IMAGE" class="border-2 rounded-md border-inherit"/>
              </a>
            </div>
          })
        }
      </div>
    </div>
  </div>
</BaseLayout>
<style>
  .link {
    @apply cursor-pointer underline;
  }
  .link:hover {
    @apply no-underline [@media(hover:hover)]:hover:underline;
  }
</style>
